{% extends "base.html"%}

{% block title %}Home Page {% endblock%}

{% block content_desc %}

<h1> &nbsp About me</h1>
<style>
    
</style>
<p class="text-dark"><span style="font-size: 15px;"> &nbsp &nbsp Hello my name is Veres Andrei Adrian and I am a graduate student of the Technical University of Cluj-Napoca.
<br> Most of my interests are IT related and sports. I'm a fan of new technologies in various domains such as robotics,<br> automotive and data science.  
On the other hand in my early years I used to play tennis and also participate in various<br> tennis tournaments both in Romania and also abroad.
</span> 
</p>
{% endblock %}

{% block picture %}
<p> Picture of me </p>
{% endblock %}

{% block links %}
<p class="text-dark"><span style="font-size: x-large; font-weight: bold;">&nbsp Where you can find me</span>  </p>
<a href="https://github.com/VeresAndrei97/"> <i class="fa fa-github" style="font-size:36px";color:black></i></a>
<a href="https://youtu.be/VMJ-xDw5EG8"> <i class="fa fa-youtube-play" style="font-size:36px;color:red"></i></a>
<a href="https://www.linkedin.com/in/veres-andrei-96197a1b5/"> <i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
<a href="https://www.facebook.com/veres.andrei1"> <i class="fa fa-facebook-square" style="font-size:36px"></i></a>
{% endblock %}




{% block interests %}
<p class="text-dark"><span style="font-size: x-large; font-weight: bold;">Interests</span>  </p>
As I've mentioned before I am a technology geek but also very into sports.<br>
<li>Robotics</li>
<li>Automation</li>
<li>Software Development</li>
<li>Data Science</li>
<li>Tennis and Soccer</li>

{% endblock %}



{% block education %}
<p class="text-dark"><span style="font-weight: bold; font-size: x-large;" >Education </span>
<br>
    <span style="font-size: smaller;" >Master's in Applied Informatics in Complex Systems, 2020-present </span>
    <br>
    <span style="font-size: smaller; font-weight: lighter;">at Technical University of Cluj-Napoca, Romania </span> 

    <br>
    <span style="font-size: smaller;" >Bachelor's Degree in Computer Science and Automation, <br>departament of Automation-english section, 2016-2020 </span>
    <br>
    <span style="font-size: smaller; font-weight: lighter;">at Technical University of Cluj-Napoca, Romania </span> 

    <br>
    <span style="font-size: smaller;" >High School Diploma, profile: Mathematics and Informatics 2012-2016 </span>
    <br>
    <span style="font-size: smaller; font-weight: lighter;">at Colegiul National Mihai Eminescu, Satu Mare, Romania </span> 
</p>


{% endblock %}
