{% extends "base.html"%}

{% block content_desc %}
<h1 style="text-align: center;">&nbsp My Projects  </h1>
<br>
<h4>&nbsp Robotic Controller using a Depth Camera</h4>

<div class="row mx-md-n5">
    <div class="col px-md-5"><div class="p-3 border bg-light">
        In this project I tried to implement a robotic system that can replicate the movement of the right hand of a user in real-time.
        For this project I've needed 3 components: 
        <li>Depth Camera</li>
        <li>Robotic Arm</li>
        <li>Personal laptop</li>
        In order to make the communication between the 3 components I've used ROS as main framework. Other softwares used:
        <li>C/C++</li>
        <li>LINUX</li>
        <li>Python</li>
        <li>XML</li>
        <li>Gazebo</li>
        This project represents also my Bachelor's Degree thesis. 
        <br>
    </div></div>
</div>

<br><br><br>

<h4>&nbsp Web-Scrapping Stock Market</h4>

<div class="row mx-md-n5">
    <div class="col px-md-5"><div class="p-3 border bg-light">
        The following project was made with the idea of making stock-market buys/sells automated. 
        <br>This application tracks in real-time the stock price for Tesla shares.
        It can notify you when the stock price has decreased with a certain percentage or when the price has increased and you should sell.
        <br>For this project Python with its libraries such as Numpy, BeautifullSoup, Pandas, matplot come in great help.
        For future development the application will also make the transaction for you.
        <br> This project can be seen on my Git account.
        <a href="https://github.com/VeresAndrei97/stock_proj_scrape"> <i class="fa fa-github" style="font-size:36px";color:black></i></a>
    </div></div>
</div>
{% endblock %}

{% block picture %}
<br> <br> <br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VMJ-xDw5EG8" frameborder="0" allow="accelerometer; autoplay ;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}



